.profile-photo {
    display: flex;
    align-items: center;
    gap: var(--space-2);
}

.profile-page .item-header {
    margin: calc(var(--space-2) * 2) 0 calc(var(--space-3) / 2) 0;
}

.profile-photo img {
    block-size: 5rem;
    border-radius: var(--radius-md);
    background: var(--color-surface);
    object-fit: cover;
}
