.item-header:has(img) {
    display: grid;
    grid-template-columns: 78px minmax(0, 1fr);
    grid-template-rows: auto 1fr;
    gap: calc(var(--space-1) / 2) calc(var(--space-3) / 2);
    grid-template-areas:
    "image title"
    "image description";
}

.item-header img {
    grid-area: image;
    background: var(--color-surface);
    border-radius: 8px;
    padding: 8px;
    width: 100%;
}

.item-header h3 {
    grid-area: title;
    font-size: var(--font-size-md);
    font-weight: 700;
}

.item-header p {
    grid-area: description;
    color: var(--color-muted);
    font-size: var(--font-size-sm);
}

.item-header--vertical:has(img) {
    display: flex;
    flex-direction: column;
    margin-bottom: calc(var(--space-3) / 2);
    gap: 0;

    & img {
        height: 140px;
    }

    & h3 {
        margin-top: var(--space-1);
    }
}